<!DOCTYPE html>
<html>
<head>
	<title>Portfolio - Rafaeli Arroyo</title>
	<link rel="stylesheet" type="text/css" href="assets/css/semantic.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/landing.css">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	<script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/semantic.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- Return to top button that displays when scrolled -->
	<a id="return-to-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>

	<!-- Navigation bar that contains sections to scroll down to -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#portfolio_links" aria-expanded="true">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
			</div>
			<div class="collapse navbar-collapse" id="portfolio_links">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="scroll" href="#about_me">About Me</a></li>
					<li><a class="scroll" href="#experience">Experience</a></li>
					<li><a class="scroll" href="#skills">Skills</a></li>
					<li><a class="scroll" href="#projects">Projects</a></li>
					<li><a class="scroll" href="#recommendations">Recommendations</a></li>
					<li><a href="https://www.linkedin.com/in/rafaeli-arroyo/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
					<li><a href="https://github.com/Soronie"><i class="fa fa-github" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>

	    <div id="landing-header">
 			<h1>Hi, I'm Rafaeli.</h1>
 			<h1>I'm a developer, musician, and gamer!</h1>
			<a class="scroll btn btn-lg btn-success" href="#about_me">Learn More About Me</a>
	    </div>
    
    	<ul class="slideshow">
      		<li></li>
      		<li></li>
      		<li></li>
      		<li></li>
      		<li></li>
    	</ul>

		<!-- About Me -->
		<div id="about_me" class="container section">
			<div class="row">
				<div class="col-md-6 col-xs-12 thumbnail">
					<img id="about_photo" src="assets/img/aboutmephoto.jpg">
				</div>
				<div id="about_description" class="col-md-6 col-xs-12">
					<h1>About Me</h1>
					<p>My name is Rafaeli Arroyo. I'm a software developer currently residing in Emeryville, California. In June 2017, I graduated with my bachelor's degree in Computer Science and Engineering from UC Davis.</p>
					<p>My main interests are in full stack development and back-end/data engineering. I'm actively learning more about various tech stacks (Node, HTML/CSS/JS) and databases (MongoDB, SQL) for future projects that I have in mind. As a gamer, I also love applying the skills I've learned to build simple, interactive games or web applications. In my long-term career, I aspire to keep challenging myself to learn new things and apply what I've learned to create a positive impact on other people's lives.</p>
					<p>My hobbies include playing the violin and playing competitive Super Smash Bros (or Smash, for short). I've played the violin for six years and competed at Smash tournaments in California for four years. Both activities truly motivate me to improve myself and always do my best in all aspects of my life, both personal and professional.</p>
				</div>
			</div>
		</div>

		<!-- Experience -->
		<div id="experience" class="container section">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-xs-12">
					<h1>Experience</h1>
					<p class="exp_title">Role:<br>Software Developer</p>
					<p class="exp_title">Company:<br>Land, Air, and Water Resources at UC Davis (LAWR)</p>
					<p class="exp_title">Employer/Supervisor:<br>Gregory Pasternack</p>
					<p class="exp_title">Technologies Used:</p>
					<div class="skills">
						<li>Python</li>
						<li>R</li>
						<li>ArcGIS</li>
					</div>
					<p class="exp_title">Accomplishments/Responsibilities:</p>
					<ul>
						<li>Enhanced a river generation software by creating and adding new functions for a river's meander and cross-section.</li>
						<li>Implemented generation of data visualizations and coordinates for user-defined rivers.</li>
						<li>Authored the user guide for the mentioned software which was then packaged and submitted to CRAN</li>
						<li>Collaborated with research assistants to develop Python scripts that automate tedious, heavy workflows on ArcGIS</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Skills -->
		<div id="skills" class="container section">
			<div class="row">
				<h1>Skills</h1>
				<div class="col-md-6 col-xs-12 skills">
					<h3>Proficient:</h3>
						<li>Java</li>
						<li>C++</li>
						<li>Python</li>
						<li>R</li>
						<li>Git</li>
						<li>Node.js</li>
						<li>HTML</li>
						<li>JavaScript</li>
				</div>
				<div class="col-md-6 col-xs-12 skills">
					<h3>Basic/Actively Learning:</h3>
						<li>MongoDB</li>
						<li>SQL</li>
						<li>React.js</li>
						<li>Django</li>
				</div>
			</div>
		</div>

		<div id="projects" class="container section">
			<h1>Projects</h1>
			<div class="row">
				<div class="col-md-4 col-xs-12">
					<h3>Inventory Tracking Website</h3>
					<br>
					<div class="skills">
						<li>MongoDB, Express, Angular, Node (MEAN)</li>
						<li>Bootstrap</li>
					</div>
					<br>
					<ul>
						<li>A website that keeps track of inventory checked in and out by various UC Davis departments.</li>
						<li>Enhanced the user’s ability to extract information from the database by generating statistics, graphs, and text files that are more easily accessible and readable.</li>
						<li>Helped design the website layout with a side bar, downloadable links, and authorization-based content.</li>
						<li>Source code: <a href="https://github.com/gill-navpreet/Equipment-Inventory-Tracking-Project">https://github.com/gill-navpreet/Equipment-Inventory-Tracking-Project</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-xs-12">
					<h3>Carduo</h3>
					<br>
					<div class="skills">
						<li>HTML/CSS</li>
						<li>JavaScript/jQuery</li>
					</div>
					<br>
					<ul>
						<li>A single-page game application where the player accumulates points by matching two cards of each type.</li>
						<li>Source code: <a href="https://github.com/Soronie/Carduo">https://github.com/Soronie/Carduo</a></li>
						<li>Play it <a href="#">here</a>!</li>
					</ul>
				</div>
				<div class="col-md-4 col-xs-12">
					<h3>Undo/Redo Buttons (Warcraft II)</h3>
					<br>
					<div class="skills">
						<li>C++</li>
						<li>Qt Creator</li>
					</div>
					<br>
					<ul>
						<li>GUI features that undo and redo tile changes made to the terrain of Warcraft II maps to provide more flexibility in map editing.</li>
						<li>Improved efficiency of an algorithm with an additional process that recognizes and clears out unnecessary data in storage buffers, greatly reducing memory usage.</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Recommendations -->
		<div id="recommendations" class="container section">
			<div class="row">
				<div id="recommendations" class="col-xs-10 col-xs-offset-1">
					<h1>Recommendations</h1>
					<p>"Rafaeli Arroyo has been working for me as a computer programmer since mid-April 2017. I selected her among a pool of applicants because of her previous experience working with terrain data, which was a useful starting point for this job. The work I have been asking her to do has involved programming for scientific purposes, but which also has some cross-over into commercial applications. Specifically, she has been writing software that is capable of procedural generation of river valleys on the basis of scientific algorithms my students and I have developed as well as drawing from the scientific literature. The code is written in R, because that is the primary open-source language of use in academia these days. She started with a functional but terrible implementation of the program developed in an Excel spreadsheet and then on her own effort she translated the functionality over to her own coding in R. I gave her conceptual guidance about what to do and I trained her on the underlying science. It is not easy for someone with no geoscience background to dive into this arena, but I found that she was very capable at tackling the work. I asked her to read scientific journal articles and get mentoring from me on the science and math underlying the problem. I found that she was able to adapt to the situation and successfully develop the code I needed. It really is not easy to do this; I have seen many other undergraduates fail at moving between theory and implementation. Usually she had to work through it on her own, but she was capable of figuring things out and then developing the required code. I have found that she has been creative in her solutions and over time she has taken ever more initiative to find ways to improve the code on her own. Every time I assign her more tasks with coding she jumps into the work and gets it done. Overall, she has been far more successful than I had hoped, which has made the investment in her worth it. I would gladly keep her employed as long as possible, but she needs to move on from university life and get a job in the private sector, so I understand that and I fully support your hiring her. I’m sure you get tons of applications and you have some crazy algorithms that tell you who will succeed or fail. What I can tell you is that against heavy odds, Rafaeli Arroyo has more than succeeded with her job and I can recommend her without hesitation to do whatever coding you need done. She warrants the opportunity and I encourage you to find out for yourself how capable she is."</p>
					<p>- Gregory Pasternack, professor at LAWR</p>
				</div>
			</div>
		</div>

	<script src="main.js"></script>
</body>
</html>